*{
    margin: 0;
}
header{
    background: #BBBBBB;
    padding: 20px 0; /*Definindo espaçamento interno dentro do header, 20px para o bottom e para top, zero para as laterais*/
}

.caixa{
    position: relative; /*Definindo position relative, estamos dizendo para ele envelopa outros elementos com position absolute*/
    width: 940px; /*Tamanho padrão*/
    margin: 0 auto; /*Estamos dizendo que margindo do topo e do bottom é zero, e que a margin entre o left e o right e automatica*/
}

nav{
    position: absolute; /*position absolute me permiti posicionar meu elemento em qualquer lugar*/
    top: 110px; /*Definindo o espaçamento para o topo como 0*/
    right: 0; /*definindo espaçamento para direita como 0*/
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /* Transformando todo texto da tag <a>
     que estão contida na tag nav
     */
     color: #000000;
     font-weight: bold; /*Colocando texto em negrito */
     font-size: 22px; /*Alterando tamanho da minha fonte*/
     text-decoration: none; /*Tirando toda decoração do meu texto*/
}

nav a:hover{ /*Mapeando os passos do usuáio, quando passa o mouse por cima, mudamos a cor da borda*/
    color: #C78C19;
    text-decoration: underline;
}

nav a:active{/*Quando o usuário clicar, mudamos a cor da borda*/
    border-color: green;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block; /*Continua ocupando espaço total da página mas pode ser ajustado*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*o inline-block, por padrão alinha pela linha de baixo, aqui estamos trocando o alinhamento para linha do elemento de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Estamos definindo o 30% como tamanho definitivo, assim o padding será atribuido dentro desse tamanho ao invés de aomentar o seu tamanho*/

    /*Borda*/
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    /*Pode-se escrever também border: 2px solid #000000 */
    border-radius: 10px; /*Estamos a redondando as bordas em 10px em cada lado*/
}


.produtos li:hover{
    border-color: #C78C19;
}
.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{/*Estamos dizendo que quando o usuário passa mouse sobre nosso produto, vamos mudar o estilo do h2*/
    font-size: 35px;
}

.produtos li:hover p{
    font-weight: bold;
}

.produtos h2{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-desc{
    font-size: 18px;
}


footer{
    text-align: center; /*centralizando texto*/
    padding: 40px 0;
    background: url("bg.jpg"); /*Colocando uma imagem como plano de fundo, através do url(), indicamos onde nossa imagem está*/
}

.copy{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}

